.demo-inline-calendar-card {
  width: 300px;
}

.hoverable:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-column-hour {
  width: 1%;
}

.actions-cell {
  width: 1%;
  white-space: nowrap;
  padding: 0;
}

.actions-cell button {
  margin-right: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}